@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;1,100;1,200;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap");
/*
**** TAMAÑOS PARA LETRAS Y ESPACIADO ****
  **    Ajustarse a estos tamaños    **
- 12px
- 14px
- 16px
- 18px
- 20px
- 24px
- 30px
- 36px
- 48px
- 60px
- 72px

**** REPONSIVE BREAKPOINTS ****
- 1536px => pantalla PC grande
- 1280px => pantalla PC pequeño
- 1024px => tablet
- 768px => movil
- 640px => movil más pequeño
- Mínimo: 320px tiene que ir bien
*/
:root {
  font-family: "Montserrat", sans-serif;
  --gray-50: hsl(210, 20%, 98%);
  --gray-300: hsl(216, 12%, 84%);
  --gray-500: hsl(220, 9%, 46%);
  --gray-700: hsl(217, 19%, 27%);
  --gray-900: hsl(221, 39%, 11%);
  --blue-100: hsl(214, 95%, 93%);
  --blue-300: hsl(212, 96%, 78%);
  --blue-500: hsl(217, 91%, 60%);
  --blue-600: hsl(221, 83%, 53%);
  --blue-700: hsl(224, 76%, 48%);
  --blue-800: hsl(226, 71%, 40%);
  --blue-900: hsl(224, 64%, 33%);
  --red-200: hsl(0, 96%, 89%);
  --red-400: hsl(0, 91%, 71%);
  --red-600: hsl(0, 72%, 51%);
  --red-800: hsl(0, 70%, 35%);
  --yellow-200: hsl(48, 97%, 77%);
  --yellow-400: hsl(43, 96%, 56%);
  --yellow-600: hsl(32, 95%, 44%);
  --yellow-800: hsl(23, 83%, 31%);
  --green-200: hsl(152, 76%, 80%);
  --green-400: hsl(158, 64%, 52%);
  --green-600: hsl(161, 94%, 30%);
  --green-800: hsl(163, 88%, 20%);
  --shadow-sm: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  --shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  --shadow-md: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  --shadow-lg: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  --shadow-xl: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  --shadow-2xl: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  --purple-gradient: linear-gradient(to right bottom, rgb(217, 70, 239), rgb(147, 51, 234));
  --blue-gradient: linear-gradient(to right bottom, rgb(34, 211, 238), rgb(14, 165, 233));
  --dark-blue-gradient: linear-gradient(to right bottom, rgb(56, 189, 248), rgb(99, 102, 241));
  --green-gradient: linear-gradient(to right bottom, rgb(74, 222, 128), rgb(6, 182, 212));
  --yellow-gradient: linear-gradient(to right bottom, rgb(250, 204, 21), rgb(249, 115, 22));
  --red-gradient: linear-gradient(to right bottom, rgb(236, 72, 153), rgb(244, 63, 94));
}

.btn-black {
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  text-align: center;
  -webkit-text-decoration: #fff;
          text-decoration: #fff;
  margin: 10px;
  padding: 0.75rem 1.5rem;
  border-radius: 12px;
  border-color: transparent;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  background-color: var(--gray-900);
}
.btn-black:hover {
  background-color: var(--gray-700);
}

.btn-white {
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  text-align: center;
  -webkit-text-decoration: #fff;
          text-decoration: #fff;
  margin: 10px;
  padding: 0.75rem 1.5rem;
  border-radius: 12px;
  border-color: transparent;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  background-color: var(--gray-50);
  color: var(--gray-900);
}
.btn-white:hover {
  background-color: var(--gray-300);
}

.btn-red {
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  text-align: center;
  -webkit-text-decoration: #fff;
          text-decoration: #fff;
  margin: 10px;
  padding: 0.75rem 1.5rem;
  border-radius: 12px;
  border-color: transparent;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  background-color: #f43e5c;
}
.btn-red:hover {
  background-color: #d72851;
}

.btn-red-alt {
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  text-align: center;
  -webkit-text-decoration: #fff;
          text-decoration: #fff;
  margin: 10px;
  padding: 0.75rem 1.5rem;
  border-radius: 12px;
  border-color: transparent;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  background-color: #ef4343;
}
.btn-red-alt:hover {
  background-color: #f87272;
}

.btn-blue {
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  text-align: center;
  -webkit-text-decoration: #fff;
          text-decoration: #fff;
  margin: 10px;
  padding: 0.75rem 1.5rem;
  border-radius: 12px;
  border-color: transparent;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  background-color: #5593f7;
}
.btn-blue:hover {
  background-color: #75b1fa;
}

.btn-blue-alt {
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  text-align: center;
  -webkit-text-decoration: #fff;
          text-decoration: #fff;
  margin: 10px;
  padding: 0.75rem 1.5rem;
  border-radius: 12px;
  border-color: transparent;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  background-color: #447aee;
}
.btn-blue-alt:hover {
  background-color: #5593f7;
}

.btn-green {
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  text-align: center;
  -webkit-text-decoration: #fff;
          text-decoration: #fff;
  margin: 10px;
  padding: 0.75rem 1.5rem;
  border-radius: 12px;
  border-color: transparent;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  background-color: #36d399;
}
.btn-green:hover {
  background-color: #6ee7b7;
}

.btn-green-alt {
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  text-align: center;
  -webkit-text-decoration: #fff;
          text-decoration: #fff;
  margin: 10px;
  padding: 0.75rem 1.5rem;
  border-radius: 12px;
  border-color: transparent;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  background-color: #10b77f;
}
.btn-green-alt:hover {
  background-color: #36d399;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding: 60px 0 0 0;
}

body {
  margin: 0;
  padding: 0;
}

main {
  margin-top: 60px;
}

.topbar {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  max-width: 1920px;
  background-color: var(--blue-500);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar-logo {
  height: 100%;
  padding: 0 20px;
}
.topbar-logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--gray-50);
  text-decoration: none;
  transition: margin-top 0.25s ease;
}
.topbar-logo a:hover {
  margin-top: -4px;
}
.topbar-logo h1 {
  font-family: Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 36px;
  letter-spacing: 3px;
  margin: -5px 0 0 0;
}

.topbar-mid a {
  border-radius: 12px;
  color: var(--gray-50);
  font-size: 20px;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.3s;
}
.topbar-mid a:hover {
  background-color: var(--blue-700);
}

.topbar-user-buttons {
  padding: 0 10px;
}

.topbar-user-container {
  margin-right: 12px;
  cursor: pointer;
}
.topbar-user-container #topbar-user-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.topbar-user-container img {
  border: 2px solid var(--gray-300);
  border-radius: 100%;
  height: 48px;
}

.topbar-user-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 65px;
  right: 5px;
  display: none;
  padding: 12px 16px;
  background-color: var(--blue-100);
  border-radius: 12px;
  box-shadow: var(--shadow-md);
}

.user-dropdown-head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 2px solid var(--gray-500);
}
.user-dropdown-head img {
  border: 2px solid var(--gray-50);
  border-radius: 100%;
  height: 112px;
}
.user-dropdown-head h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
}

.user-dropdown-options {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  list-style: none;
  padding: 0;
  width: 100%;
}
.user-dropdown-options li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.user-dropdown-option {
  display: flex;
  align-items: center;
  border-radius: 12px;
  width: 100%;
  margin: 2px 0;
  padding: 5px 50px;
  transition: background-color 0.3s;
  color: var(--gray-900);
  text-decoration: none;
}
.user-dropdown-option:hover {
  background-color: var(--blue-300);
}
.user-dropdown-option svg {
  margin-right: 5px;
}

.user-dropdown-logout {
  color: var(--gray-900);
  text-decoration: none;
  border-radius: 12px;
  transition: background-color 0.3s;
  padding: 5px 50px;
}
.user-dropdown-logout:hover {
  background-color: var(--blue-300);
}

.topbar-menu-container {
  display: none;
}

.signin-btn {
  font-size: 16px;
  padding: 0.5rem 1rem;
  margin: 0 5px;
}

.signup-btn {
  font-size: 16px;
  padding: 0.5rem 1rem;
  margin: 0 5px;
}

.topbar-user-logged {
  display: none;
}

.topbar-menu-collapse {
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: #ffffff;
  top: 60px;
  width: 100%;
  height: 0;
  transition: height 0.3s;
}

.topbar-collapse-container {
  display: none;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px 24px;
  height: 0;
  opacity: 0;
  transition-property: height, opacity;
  transition-duration: 0.3s;
}

.topbar-menu-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid var(--gray-300);
}
.topbar-menu-links li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px 0;
  width: 100%;
  height: 100%;
}
.topbar-menu-links li a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  color: var(--gray-900);
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 5px 16px;
  transition: 0.3s all;
}
.topbar-menu-links li a:hover {
  background-color: var(--gray-300);
}

.topbar-menu-buttons {
  height: 100%;
  margin: 36px auto;
}

.topbar-login-button {
  border: 1px solid var(--gray-500);
}

#topbar-menu-toggle {
  border: none;
  background: transparent;
  cursor: pointer;
}

.landing-head {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-900);
}

.landing-title-container {
  max-width: 1100px;
  margin: 128px 30px;
  padding: 36px 0;
}
.landing-title-container h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 72px;
  text-align: center;
}
.landing-title-container p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 1.7;
}

.landing-title-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-title-button-container a {
  font-size: 24px;
  padding: 1rem 1.75rem;
}

.landing-showcase {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--blue-900);
  background: linear-gradient(to right bottom, var(--blue-700), var(--blue-900));
  color: white;
  padding: 60px 0;
  margin: 0 auto 128px auto;
}

.showcase-row {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: 36px 0;
}
.showcase-row img {
  max-height: 300px;
  width: 100%;
}

.showcase-textbox h2 {
  font-weight: 300;
  font-size: 36px;
  max-width: 50ch;
}
.showcase-textbox p {
  font-size: 20px;
  max-width: 50ch;
  line-height: 1.5;
}

.showcase-image {
  margin: 0 48px 0 0;
}

.showcase-image-reverse {
  margin: 0 0 0 48px;
}

.landing-caps {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 30px 128px 30px;
}

.landing-caps-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
  margin-bottom: 72px;
}

.landing-caps-text {
  max-width: 70ch;
  margin: 0 60px 0 auto;
  padding: 36px 0;
}
.landing-caps-text h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 72px;
  text-align: left;
}
.landing-caps-text p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: left;
  line-height: 1.7;
}

.reverse-caps-text {
  margin: 0 0 0 60px;
}

.landing-caps-image img {
  max-height: 800px;
  min-width: 340px;
  width: 100%;
}

.landing-pricing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 48px 0;
  background-color: var(--blue-300);
  background: linear-gradient(to right bottom, var(--blue-700), var(--blue-900));
}

.pricing-head-title {
  color: var(--gray-50);
  font-weight: 200;
  font-size: 60px;
  margin: 40px 12px 0 12px;
  text-align: center;
}

.pricing-head-text {
  color: var(--gray-50);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin: 20px 12px 40px 12px;
}

.landing-pricing-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px 30px 128px 30px;
  padding-bottom: 36px;
}

.landing-pricing-card {
  background-color: #fff;
  margin: 0 16px 16px 16px;
  border-radius: 24px;
  box-shadow: var(--shadow-md);
  overflow: hidden;
  width: 300px;
  transition: transform 0.2s ease;
}
.landing-pricing-card:hover {
  transform: scale(1.15) translateY(-24px);
}

.pricing-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-50);
}

.pricing-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 48px;
}

#basic-price .pricing-header {
  background: var(--green-gradient);
}
#basic-price .pricing-button-container a {
  background: var(--green-gradient);
}

#standard-price .pricing-header {
  background: var(--red-gradient);
}
#standard-price .pricing-button-container a {
  background: var(--red-gradient);
}

#premium-price .pricing-header {
  background: var(--purple-gradient);
}
#premium-price .pricing-button-container a {
  background: var(--purple-gradient);
}

.pricing-title {
  font-size: 36px;
  font-weight: 500;
  margin: 16px;
}

.pricing-price {
  margin: 4px 0 0 0;
  font-size: 30px;
  font-weight: 400;
}

.pricing-features {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  list-style: none;
  padding: 0;
}
.pricing-features li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.pricing-features li svg {
  margin-right: 5px;
}

@media screen and (max-width: 1536px) {
  .landing-caps-text h1 {
    font-size: 60px;
  }

  .landing-caps-image img {
    max-height: 700px;
  }
}
@media screen and (max-width: 1024px) {
  .landing-title-container {
    margin: 60px 30px;
  }
  .landing-title-container h1 {
    font-size: 60px;
  }

  .showcase-row {
    flex-direction: column-reverse;
    margin: 0 16px 30px 16px;
  }

  .showcase-reverse {
    flex-direction: column;
  }

  .showcase-textbox h2, .showcase-textbox p {
    text-align: center;
  }

  .showcase-image {
    margin: 0;
  }

  .showcase-image-reverse {
    margin: 0;
  }

  .landing-caps-container {
    flex-direction: column;
  }

  .landing-caps-text {
    margin: 0 auto;
  }
  .landing-caps-text h1, .landing-caps-text p {
    text-align: center;
  }

  .reverse-caps-text {
    margin: 0 auto;
  }

  .reverse-caps {
    flex-direction: column-reverse;
    margin: 0;
  }

  .landing-pricing-container {
    flex-direction: column;
  }

  .landing-pricing-card:hover {
    transform: none;
  }
}
@media screen and (max-width: 768px) {
  .topbar-menu-container {
    display: block;
    border-radius: 100%;
    margin: 0 12px;
    transition: all 0.3s;
  }
  .topbar-menu-container:hover {
    background-color: var(--blue-600);
    cursor: pointer;
  }
  .topbar-menu-container:hover svg {
    fill: var(--gray-50);
  }
  .topbar-menu-container svg {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
  }

  #topbar-menu-toggle {
    padding: 12px;
  }

  .topbar-mid {
    display: none;
  }

  .topbar-right {
    display: none;
  }

  .landing-title-container {
    margin: 0 30px;
  }
  .landing-title-container h1 {
    font-size: 48px;
  }
}/*# sourceMappingURL=style.css.map */