@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap");
/*
**** TAMAÑOS PARA LETRAS Y ESPACIADO ****
  **    Ajustarse a estos tamaños    **
- 12px
- 14px
- 16px
- 18px
- 20px
- 24px
- 30px
- 36px
- 48px
- 60px
- 72px

**** REPONSIVE BREAKPOINTS ****
- 1536px => pantalla PC grande
- 1280px => pantalla PC pequeño
- 1024px => tablet
- 768px => movil
- 640px => movil más pequeño
- Mínimo: 320px tiene que ir bien
*/
:root {
  font-family: "Montserrat", sans-serif;
  --gray-50: hsl(210, 20%, 98%);
  --gray-100: hsl(220, 14%, 96%);
  --gray-300: hsl(216, 12%, 84%);
  --gray-500: hsl(220, 9%, 46%);
  --gray-700: hsl(217, 19%, 27%);
  --gray-900: hsl(221, 39%, 11%);
  --blue-100: hsl(214, 95%, 93%);
  --blue-300: hsl(212, 96%, 78%);
  --blue-500: hsl(217, 91%, 60%);
  --blue-600: hsl(221, 83%, 53%);
  --blue-700: hsl(224, 76%, 48%);
  --blue-800: hsl(226, 71%, 40%);
  --blue-900: hsl(224, 64%, 33%);
  --red-200: hsl(0, 96%, 89%);
  --red-400: hsl(0, 91%, 71%);
  --red-600: hsl(0, 72%, 51%);
  --red-800: hsl(0, 70%, 35%);
  --yellow-200: hsl(48, 97%, 77%);
  --yellow-400: hsl(43, 96%, 56%);
  --yellow-600: hsl(32, 95%, 44%);
  --yellow-800: hsl(23, 83%, 31%);
  --green-200: hsl(152, 76%, 80%);
  --green-400: hsl(158, 64%, 52%);
  --green-600: hsl(161, 94%, 30%);
  --green-800: hsl(163, 88%, 20%);
  --shadow-sm: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  --shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  --shadow-md: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  --shadow-lg: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  --shadow-xl: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  --shadow-2xl: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  --purple-gradient: linear-gradient(to right bottom, rgb(217, 70, 239), rgb(147, 51, 234));
  --blue-gradient: linear-gradient(to right bottom, rgb(34, 211, 238), rgb(14, 165, 233));
  --dark-blue-gradient: linear-gradient(to right bottom, rgb(56, 189, 248), rgb(99, 102, 241));
  --green-gradient: linear-gradient(to right bottom, rgb(74, 222, 128), rgb(6, 182, 212));
  --yellow-gradient: linear-gradient(to right bottom, rgb(250, 204, 21), rgb(249, 115, 22));
  --red-gradient: linear-gradient(to right bottom, rgb(236, 72, 153), rgb(244, 63, 94));
}

.btn-black {
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  text-align: center;
  -webkit-text-decoration: #fff;
          text-decoration: #fff;
  margin: 10px;
  padding: 0.75rem 1.5rem;
  border-radius: 12px;
  border-color: transparent;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  background-color: var(--gray-900);
}
.btn-black:hover {
  background-color: var(--gray-700);
}

.btn-white {
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  text-align: center;
  -webkit-text-decoration: #fff;
          text-decoration: #fff;
  margin: 10px;
  padding: 0.75rem 1.5rem;
  border-radius: 12px;
  border-color: transparent;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  background-color: var(--gray-50);
  color: var(--gray-900);
}
.btn-white:hover {
  background-color: var(--gray-300);
}

.btn-red {
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  text-align: center;
  -webkit-text-decoration: #fff;
          text-decoration: #fff;
  margin: 10px;
  padding: 0.75rem 1.5rem;
  border-radius: 12px;
  border-color: transparent;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  background-color: #f43e5c;
}
.btn-red:hover {
  background-color: #d72851;
}

.btn-red-alt {
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  text-align: center;
  -webkit-text-decoration: #fff;
          text-decoration: #fff;
  margin: 10px;
  padding: 0.75rem 1.5rem;
  border-radius: 12px;
  border-color: transparent;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  background-color: #ef4343;
}
.btn-red-alt:hover {
  background-color: #f87272;
}

.btn-blue {
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  text-align: center;
  -webkit-text-decoration: #fff;
          text-decoration: #fff;
  margin: 10px;
  padding: 0.75rem 1.5rem;
  border-radius: 12px;
  border-color: transparent;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  background-color: #5593f7;
}
.btn-blue:hover {
  background-color: #75b1fa;
}

.btn-blue-alt {
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  text-align: center;
  -webkit-text-decoration: #fff;
          text-decoration: #fff;
  margin: 10px;
  padding: 0.75rem 1.5rem;
  border-radius: 12px;
  border-color: transparent;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  background-color: #447aee;
}
.btn-blue-alt:hover {
  background-color: #5593f7;
}

.btn-green {
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  text-align: center;
  -webkit-text-decoration: #fff;
          text-decoration: #fff;
  margin: 10px;
  padding: 0.75rem 1.5rem;
  border-radius: 12px;
  border-color: transparent;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  background-color: #36d399;
}
.btn-green:hover {
  background-color: #6ee7b7;
}

.btn-green-alt {
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  text-align: center;
  -webkit-text-decoration: #fff;
          text-decoration: #fff;
  margin: 10px;
  padding: 0.75rem 1.5rem;
  border-radius: 12px;
  border-color: transparent;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  background-color: #10b77f;
}
.btn-green-alt:hover {
  background-color: #36d399;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding: 60px 0 0 0;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--blue-500);
}

main {
  margin-top: 60px;
}

.topbar {
  height: 60px;
  width: 100%;
  max-width: 1920px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar-logo {
  height: 100%;
  padding: 0 20px;
}
.topbar-logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--gray-50);
  text-decoration: none;
  transition: margin-top 0.25s ease;
}
.topbar-logo a:hover {
  margin-top: -4px;
}
.topbar-logo h1 {
  font-family: Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 36px;
  letter-spacing: 3px;
  margin: -5px 0 0 0;
}

.topbar-mid-links a {
  border-radius: 12px;
  color: var(--gray-50);
  font-size: 20px;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.3s;
}
.topbar-mid-links a:hover {
  background-color: var(--blue-700);
}

.topbar-dashboard-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  margin-left: 20px;
  padding: 10px 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.topbar-dashboard-menu:hover {
  background-color: var(--blue-700);
}
.topbar-dashboard-menu:hover .topbar-dashboard-dropdown {
  display: block;
}
.topbar-dashboard-menu span {
  color: var(--gray-50);
  font-size: 20px;
  margin: 0 8px;
  height: 100%;
}
.topbar-dashboard-menu svg {
  fill: var(--gray-50);
}

.topbar-dashboard-dropdown {
  display: none;
  position: absolute;
  top: 52px;
  background-color: var(--blue-300);
  border-radius: 12px;
  box-shadow: var(--shadow);
}

.topbar-dashboard-dropdown-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  padding: 10px 20px;
}
.topbar-dashboard-dropdown-container a {
  text-decoration: none;
  color: var(--gray-900);
  height: 100%;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  border-radius: 12px;
}
.topbar-dashboard-dropdown-container a:hover {
  background-color: var(--blue-500);
  color: var(--gray-50);
}

.topbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topbar-user-buttons {
  padding: 0 10px;
}

.topbar-user-container {
  margin-right: 12px;
  cursor: pointer;
}
.topbar-user-container #topbar-user-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.topbar-user-container img {
  border: 2px solid var(--gray-300);
  border-radius: 100%;
  height: 48px;
}

.topbar-user-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 65px;
  right: 5px;
  display: none;
  padding: 12px 16px;
  background-color: var(--gray-100);
  z-index: 10000;
  border-radius: 12px;
  box-shadow: var(--shadow);
}

.user-dropdown-head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 2px solid var(--gray-500);
}
.user-dropdown-head img {
  border: 2px solid var(--gray-50);
  border-radius: 100%;
  height: 112px;
}
.user-dropdown-head h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
}

.user-dropdown-options {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  list-style: none;
  padding: 0;
  width: 100%;
}
.user-dropdown-options li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.user-dropdown-option {
  display: flex;
  align-items: center;
  border-radius: 12px;
  width: 100%;
  margin: 2px 0;
  padding: 5px 50px;
  transition: background-color 0.3s;
  color: var(--gray-900);
  text-decoration: none;
}
.user-dropdown-option:hover {
  background-color: var(--blue-300);
}
.user-dropdown-option svg {
  margin-right: 10px;
  fill: var(--gray-700);
}

.user-dropdown-logout {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-900);
  text-decoration: none;
  border-radius: 12px;
  transition: background-color 0.3s;
  padding: 5px 50px;
}
.user-dropdown-logout:hover {
  background-color: var(--blue-300);
}
.user-dropdown-logout svg {
  margin-right: 10px;
  fill: var(--gray-700);
}

.topbar-menu-container {
  display: none;
}

.signin-btn {
  font-size: 16px;
  padding: 0.5rem 1rem;
  margin: 0 5px;
}

.signup-btn {
  font-size: 16px;
  padding: 0.5rem 1rem;
  margin: 0 5px;
}

.topbar-user-logged {
  display: none;
}

.topbar-menu-collapse {
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: #ffffff;
  top: 60px;
  width: 100%;
  height: 0;
  z-index: 999;
  transition: height 0.3s;
}

.topbar-collapse-container {
  display: none;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px 24px;
  height: 0;
  opacity: 0;
  transition-property: height, opacity;
  transition-duration: 0.3s;
}

.topbar-menu-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid var(--gray-300);
}
.topbar-menu-links li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px 0;
  width: 100%;
  height: 100%;
}
.topbar-menu-links li a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  color: var(--gray-900);
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 5px 16px;
  transition: 0.3s all;
}
.topbar-menu-links li a:hover {
  background-color: var(--gray-300);
}

.topbar-menu-buttons {
  height: 100%;
  margin: 36px auto;
}

.topbar-login-button {
  border: 1px solid var(--gray-500);
}

#topbar-menu-toggle {
  border: none;
  background: transparent;
  cursor: pointer;
}

.landing-head {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-900);
}

.landing-title-container {
  max-width: 1100px;
  margin: 128px 30px;
  padding: 36px 0;
}
.landing-title-container h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 72px;
  text-align: center;
}
.landing-title-container p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 1.7;
}

.landing-title-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-title-button-container a {
  font-size: 24px;
  padding: 1rem 1.75rem;
}

.landing-showcase {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--blue-900);
  background: linear-gradient(to right bottom, var(--blue-700), var(--blue-900));
  color: white;
  padding: 60px 0;
  margin: 0 auto 128px auto;
}

.showcase-row {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: 36px 0;
}
.showcase-row img {
  max-height: 300px;
  width: 100%;
}

.showcase-textbox h2 {
  font-weight: 300;
  font-size: 36px;
  max-width: 50ch;
}
.showcase-textbox p {
  font-size: 20px;
  max-width: 50ch;
  line-height: 1.5;
}

.showcase-image {
  margin: 0 48px 0 0;
}

.showcase-image-reverse {
  margin: 0 0 0 48px;
}

.landing-caps {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 30px 128px 30px;
}

.landing-caps-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
  margin-bottom: 72px;
}

.landing-caps-text {
  max-width: 70ch;
  margin: 0 60px 0 auto;
  padding: 36px 0;
}
.landing-caps-text h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 72px;
  text-align: left;
}
.landing-caps-text p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: left;
  line-height: 1.7;
}

.reverse-caps-text {
  margin: 0 0 0 60px;
}

.landing-caps-image img {
  max-height: 800px;
  min-width: 340px;
  width: 100%;
}

.landing-pricing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 48px 0;
  background-color: var(--blue-300);
  background: linear-gradient(to right bottom, var(--blue-700), var(--blue-900));
}

.pricing-head-title {
  color: var(--gray-50);
  font-weight: 200;
  font-size: 60px;
  margin: 40px 12px 0 12px;
  text-align: center;
}

.pricing-head-text {
  color: var(--gray-50);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin: 20px 12px 40px 12px;
}

.landing-pricing-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px 30px 128px 30px;
  padding-bottom: 36px;
}

.landing-pricing-card {
  background-color: #fff;
  margin: 0 16px 16px 16px;
  border-radius: 24px;
  box-shadow: var(--shadow-md);
  overflow: hidden;
  width: 300px;
  transition: transform 0.2s ease;
}
.landing-pricing-card:hover {
  transform: scale(1.15) translateY(-24px);
}

.pricing-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-50);
}

.pricing-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 48px;
}

#basic-price .pricing-header {
  background: var(--green-gradient);
}
#basic-price .pricing-button-container a {
  background: var(--green-gradient);
}

#standard-price .pricing-header {
  background: var(--red-gradient);
}
#standard-price .pricing-button-container a {
  background: var(--red-gradient);
}

#premium-price .pricing-header {
  background: var(--purple-gradient);
}
#premium-price .pricing-button-container a {
  background: var(--purple-gradient);
}

.pricing-title {
  font-size: 36px;
  font-weight: 500;
  margin: 16px;
}

.pricing-price {
  margin: 4px 0 0 0;
  font-size: 30px;
  font-weight: 400;
}

.pricing-features {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  list-style: none;
  padding: 0;
}
.pricing-features li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.pricing-features li svg {
  margin-right: 5px;
}

.user-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 100px 16px 0 16px;
}
.user-form-container h1 {
  font-size: 36px;
  text-align: center;
}
.user-form-container a {
  text-decoration: none;
  color: var(--blue-700);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
  transition: all 0.3s;
  position: relative;
}
.user-form-container a:hover {
  color: var(--blue-500);
}
.user-form-container a:hover::after {
  width: 100%;
  left: 0;
}
.user-form-container a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--blue-500);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.user-form-box {
  border-radius: 12px;
  box-shadow: var(--shadow);
  padding: 36px;
}

.user-form {
  max-width: 400px;
}
.user-form input[type=text], .user-form input[type=password], .user-form input[type=email] {
  width: 96%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid #d1d5db;
  border-radius: 6px;
  padding: 10px 6px;
  margin: 5px 0 10px 0;
  font-size: 16px;
}
.user-form input[type=text]:focus, .user-form input[type=password]:focus, .user-form input[type=email]:focus {
  outline: none;
  border-color: var(--blue-500);
}
.user-form .btn-blue-alt {
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 0;
}

#home-sidebar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  height: calc(100vh - 60px);
  width: 330px;
  background-color: var(--blue-100);
  box-shadow: var(--shadow-lg);
  overflow: auto;
  z-index: 500;
  transition: width 0.3s ease;
}

.sidebar-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.sidebar-title-container h2 {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  color: var(--gray-900);
}

#sidebar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: var(--shadow);
  background-color: var(--gray-50);
  cursor: pointer;
  transition: transform 0.5s ease;
  transform: rotateY(180deg);
}

.home-sidebar-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  padding: 15px 0;
}

.sidebar-plugin {
  height: 200px;
  width: 300px;
  background-color: var(--gray-50);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: var(--shadow);
  cursor: pointer;
}

.sidebar-plugin-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green-400);
  box-shadow: var(--shadow);
}
.sidebar-plugin-header h2 {
  font-size: 30px;
  font-weight: 500;
  margin: 4px 0;
  color: var(--gray-50);
}

.sidebar-plugin-body {
  padding: 15px 20px;
  overflow: hidden;
  background-color: var(--gray-50);
}

.stp-task-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.stp-task-checkbox {
  height: 20px;
  width: 20px;
  border: 4px solid var(--blue-800);
  border-radius: 6px;
}

.stp-task-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 17px;
  margin-left: 10px;
}
.stp-task-text #stpt-1 {
  width: 60px;
}
.stp-task-text #stpt-2 {
  width: 100px;
}
.stp-task-text #stpt-3 {
  width: 40px;
}

.stp-text {
  background-color: var(--gray-700);
  height: 100%;
  margin-left: 5px;
}

.stp-task-completed .stp-task-checkbox {
  background-color: var(--blue-500);
}
.stp-task-completed::after {
  position: fixed;
  margin-left: 43px;
  content: "";
  width: 220px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--gray-100);
  background-color: var(--blue-300);
}

.snp-notes-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.snp-note {
  border-radius: 6px;
  box-shadow: var(--shadow);
  height: 90px;
  width: 115px;
  margin: 0 6px 12px 6px;
  overflow: hidden;
  background-color: #fff;
}

.snp-note-head {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 16px;
  background-color: var(--blue-300);
  padding: 2px 10px;
}

.snp-note-title {
  background-color: var(--gray-700);
  height: 10px;
  width: 50px;
  border-radius: 5px;
}

.snp-note-body {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 4px;
}
.snp-note-body .snpt-1 {
  width: 65px;
}
.snp-note-body .snpt-2 {
  width: 35px;
}
.snp-note-body .snpt-3 {
  width: 45px;
}

.snp-note-text {
  background-color: var(--gray-700);
  height: 8px;
  border-radius: 5px;
  margin: 3px;
}

.dashboard-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 330px;
  padding: 16px 24px 24px 24px;
  transition: margin-left 0.3s ease;
  background-color: var(--gray-100);
}

.dashboard-container-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  width: 100%;
}
.dashboard-container-head h1 {
  margin: 0 16px 0 0;
  font-weight: 300;
  font-size: 36px;
}

.dashboard-settings-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background-color: var(--blue-100);
  border-radius: 12px;
  box-shadow: var(--shadow);
  cursor: pointer;
}
.dashboard-settings-container:hover {
  background-color: var(--blue-500);
}
.dashboard-settings-container:hover svg {
  fill: var(--gray-100);
}
.dashboard-settings-container svg {
  fill: var(--gray-700);
  box-shadow: drop-shadow();
}

#dashboard-settings-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 24px;
  top: 130px;
  border-radius: 12px;
  height: 0;
  width: 210px;
  background-color: var(--gray-100);
  box-shadow: var(--shadow-md);
  transition: height 0.3s;
}

#dashboard-settings-menu-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  display: none;
  padding: 16px;
}
#dashboard-settings-menu-content #edit-note-form {
  border-top: 2px solid var(--gray-300);
  border-bottom: 2px solid var(--gray-300);
  padding: 10px 0;
}
#dashboard-settings-menu-content button, #dashboard-settings-menu-content input[type=submit] {
  margin: 0;
  padding: 0.5rem 0.75rem;
  width: 100%;
}
#dashboard-settings-menu-content label {
  font-size: 20px;
}
#dashboard-settings-menu-content input[type=text] {
  width: 92%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid #d1d5db;
  border-radius: 6px;
  padding: 10px 6px;
  margin: 5px 0 10px 0;
  font-size: 16px;
}
#dashboard-settings-menu-content input[type=text]:focus {
  outline: none;
  border-color: var(--blue-500);
}

.dashboard-plugin {
  width: 100%;
  height: 400px;
  border-radius: 12px;
  background-color: var(--gray-50);
  margin-bottom: 20px;
  box-shadow: var(--shadow-md);
  overflow: hidden;
}

.dashboard-plugin-header {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 50px;
  width: 100%;
  background-color: var(--blue-500);
}
.dashboard-plugin-header h2 {
  margin: 0 14px;
  font-size: 30px;
  font-weight: 500;
  color: var(--gray-50);
}
.dashboard-plugin-header a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 7px;
  transition: background-color 0.3s;
}
.dashboard-plugin-header a:hover {
  background-color: var(--blue-700);
}
.dashboard-plugin-header svg {
  fill: var(--gray-50);
}

.dashboard-plugin-body {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-direction: column;
  border-radius: 12px;
  padding: 2px 14px 2px 14px;
}

.dashboard-tasks-list {
  display: flex;
  justify-content: left;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 7px;
  max-height: 350px;
}

.tasks-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;
  margin-top: 16px;
  padding: 14px 14px 0 14px;
  box-shadow: var(--shadow);
}

#task-new {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed rgba(107, 114, 128, 0.5);
  border-radius: 12px;
  width: 100%;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: box-shadow border-color;
}
#task-new svg {
  fill: rgba(107, 114, 128, 0.5);
  transition: fill 0.3s;
}
#task-new:hover {
  border-color: transparent;
  box-shadow: var(--shadow);
}
#task-new:hover svg {
  fill: #6b7280;
}

.task-list {
  display: flex;
  justify-content: left;
  flex-direction: column;
  list-style: none;
  padding: 0;
  gap: 7px;
}

.task-entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  padding: 6px 14px;
  cursor: pointer;
}
.task-entry:hover {
  background-color: var(--gray-300);
}
.task-entry:hover .check-low {
  background-color: var(--green-200);
}
.task-entry:hover .check-mid {
  background-color: var(--yellow-200);
}
.task-entry:hover .check-high {
  background-color: var(--red-200);
}
.task-entry.done .check-low {
  background-color: var(--green-600);
}
.task-entry.done .check-mid {
  background-color: var(--yellow-400);
}
.task-entry.done .check-high {
  background-color: var(--red-600);
}
.task-entry.done .task-title {
  text-decoration: line-through;
}
.task-entry .check-low {
  border-color: var(--green-600);
}
.task-entry .check-mid {
  border-color: var(--yellow-400);
}
.task-entry .check-high {
  border-color: var(--red-600);
}
.task-entry .priority-low {
  background-color: var(--green-600);
}
.task-entry .priority-mid {
  background-color: var(--yellow-400);
}
.task-entry .priority-high {
  background-color: var(--red-600);
}

.task-left-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-check {
  border: 4px solid var(--green-600);
  border-radius: 4px;
  height: 20px;
  width: 20px;
  margin-right: 16px;
}

.task-title {
  font-weight: 400;
  margin-right: 30px;
}

.priority-container {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-right: 24px;
}

.task-delete-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--gray-500);
  border-radius: 50%;
}
.task-delete-container svg {
  fill: var(--gray-500);
}
.task-delete-container:hover {
  border-color: var(--gray-900);
}
.task-delete-container:hover svg {
  fill: var(--gray-900);
}

.task-priority-container {
  display: flex;
  overflow: hidden;
}
.task-priority-container input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}
.task-priority-container input:checked + label {
  color: white;
}
.task-priority-container input#low-pr:checked + label {
  background-color: var(--green-600);
}
.task-priority-container input#mid-pr:checked + label {
  background-color: var(--yellow-400);
}
.task-priority-container input#high-pr:checked + label {
  background-color: var(--red-600);
}
.task-priority-container label {
  background-color: white;
  color: var(--gray-900);
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  border: 1px solid;
  transition: all 200ms ease;
}
.task-priority-container label#low-pr-label {
  border-color: var(--green-600);
}
.task-priority-container label#mid-pr-label {
  border-color: var(--yellow-400);
}
.task-priority-container label#high-pr-label {
  border-color: var(--red-600);
}
.task-priority-container label:hover {
  cursor: pointer;
}
.task-priority-container label:first-of-type {
  border-radius: 10px 0 0 10px;
}
.task-priority-container label:last-of-type {
  border-radius: 0 10px 10px 0;
}

.task-form-field {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-direction: column;
  margin-bottom: 16px;
}
.task-form-field input {
  width: 96%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid #d1d5db;
  border-radius: 5px;
  padding: 6px;
}
.task-form-field input:focus {
  outline: none;
  border-color: var(--blue-500);
}
.task-form-field label {
  margin: 2px 0 5px 0;
}

.notes-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notes-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  margin-top: 16px;
  padding: 14px 14px 0 14px;
  box-shadow: var(--shadow);
  flex-direction: column;
}

#note-new {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed rgba(107, 114, 128, 0.5);
  border-radius: 12px;
  width: 100%;
  max-width: 200px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: box-shadow border-color;
}
#note-new svg {
  fill: rgba(107, 114, 128, 0.5);
  transition: fill 0.3s;
}
#note-new:hover {
  border-color: transparent;
  box-shadow: var(--shadow);
}
#note-new:hover svg {
  fill: #6b7280;
}

.notes-list {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 20px;
}

.note-entry {
  display: block;
  align-items: center;
  justify-content: space-between;
  border: 4px solid var(--yellow-400);
  border-radius: 12px;
  box-shadow: var(--shadow);
  padding: 0;
  width: 200px;
  height: 250px;
  overflow: hidden;
  transition: border-color 0.3s;
}
.note-entry:hover {
  border-color: var(--blue-300);
}
.note-entry:hover .note-header {
  border-color: var(--blue-300);
  background-color: var(--blue-100);
}

.note-header {
  display: flex;
  border-bottom: 4px solid var(--yellow-400);
  align-items: center;
  justify-content: space-between;
  background-color: var(--yellow-200);
  padding: 3px 5px;
  transition-duration: 0.3s;
  transition-property: border-color background-color;
}

.note-title {
  font-weight: 400;
  font-size: 20px;
  margin-right: 30px;
  color: var(--gray-700);
}

.note-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.note-edit-container {
  cursor: pointer;
}
.note-edit-container svg {
  fill: var(--gray-500);
}
.note-edit-container:hover svg {
  fill: var(--gray-900);
}
.note-edit-container:hover::after {
  width: 100%;
  left: 0;
}

.note-delete-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.note-delete-container svg {
  fill: var(--gray-500);
}
.note-delete-container:hover {
  border-color: var(--gray-900);
}
.note-delete-container:hover svg {
  fill: var(--gray-900);
}

.note-content {
  padding: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

#saving_id {
  display: none;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  border-radius: 12px;
  width: 320px;
  overflow: hidden;
}
.modal-content .modal-header {
  background: var(--blue-gradient);
  padding: 16px;
}
.modal-content .modal-header h2 {
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  color: var(--gray-50);
}
.modal-content .modal-body {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
  gap: 20px;
  padding: 16px;
}
.modal-content .modal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content .modal-footer .btn-black,
.modal-content .modal-footer .btn-blue {
  padding: 0.5rem 1rem;
}
.modal-content #id_priority {
  list-style: none;
  padding: 0;
}

.note-form-field {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-direction: column;
  margin-bottom: 16px;
}
.note-form-field input {
  width: 96%;
}

.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.error-container h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 48px;
  text-align: center;
  width: 100%;
}
.error-container a {
  text-decoration: none;
  color: var(--blue-700);
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 48px;
  transition: all 0.3s;
  position: relative;
  text-align: center;
}
.error-container a:hover {
  color: var(--blue-500);
}
.error-container a:hover::after {
  width: 100%;
  left: 0;
}
.error-container a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--blue-500);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.error-container img {
  max-width: 500px;
  width: 100%;
}

.error-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 95vw;
  margin: 0 20px;
}

@media screen and (max-width: 1536px) {
  .landing-caps-text h1 {
    font-size: 60px;
  }

  .landing-caps-image img {
    max-height: 700px;
  }
}
@media screen and (max-width: 1024px) {
  .landing-title-container {
    margin: 60px 30px;
  }
  .landing-title-container h1 {
    font-size: 60px;
  }

  .showcase-row {
    flex-direction: column-reverse;
    margin: 0 16px 30px 16px;
  }

  .showcase-reverse {
    flex-direction: column;
  }

  .showcase-textbox h2,
.showcase-textbox p {
    text-align: center;
  }

  .showcase-image {
    margin: 0;
  }

  .showcase-image-reverse {
    margin: 0;
  }

  .landing-caps-container {
    flex-direction: column;
  }

  .landing-caps-text {
    margin: 0 auto;
  }
  .landing-caps-text h1,
.landing-caps-text p {
    text-align: center;
  }

  .reverse-caps-text {
    margin: 0 auto;
  }

  .reverse-caps {
    flex-direction: column-reverse;
    margin: 0;
  }

  .landing-pricing-container {
    flex-direction: column;
  }

  .landing-pricing-card:hover {
    transform: none;
  }
}
@media screen and (max-width: 768px) {
  .topbar-menu-container {
    display: block;
    border-radius: 100%;
    margin: 0 12px;
    transition: all 0.3s;
  }
  .topbar-menu-container:hover {
    background-color: var(--blue-600);
    cursor: pointer;
  }
  .topbar-menu-container:hover svg {
    fill: var(--gray-50);
  }
  .topbar-menu-container svg {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
  }

  #topbar-menu-toggle {
    padding: 12px;
  }

  .topbar-mid {
    display: none;
  }

  .topbar-user-buttons {
    display: none;
  }

  .landing-title-container {
    margin: 0 30px;
  }
  .landing-title-container h1 {
    font-size: 48px;
  }

  #home-sidebar {
    height: 130px;
    width: 100vw;
    bottom: 0;
    justify-content: left;
  }

  .sidebar-title-container {
    display: none;
  }

  .home-sidebar-container {
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: row;
  }

  .dashboard-container {
    margin: 0 0 130px 0;
  }

  .sidebar-plugin {
    height: 100px;
  }

  .stp-task-completed::after {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  #home-sidebar {
    top: 60px;
  }
}/*# sourceMappingURL=style.css.map */