<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>ProjectSPUMA</title>
</head>
<body>
    <header>
        <nav class="topbar">
            <div class="topbar-logo">
                <a href="#">
                    <h1>SPUMA</h1>
                </a>
            </div>
            {% if loggedIn == True or True %}
            <div class="topbar-mid">
                <a href="#features">Features</a>
                <a href="#screenshots">Screenshots</a>
            </div>
            {% endif %}
            <div class="topbar-right">
                {% if loggedIn == True %}
                <div class="topbar-user-logged">
                    
                </div>
                {% else %}
                <div class="topbar-user-buttons">
                    <a href="{% url 'login' %}" class="btn-white signin-btn">Sign in</a>
                    <a href="{% url 'register' %}" class="btn-black signup-btn">Sign up</a>
                </div>
                {% endif %}
            </div>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
    <footer>
        
    </footer>
</body>
</html>