<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>ProjectSPUMA</title>
</head>

<body>
    <header>
        <nav class="topbar">
            <div class="topbar-logo">
                {% if isLanding == True %}
                <a href="#">
                    <h1>SPUMA</h1>
                </a>
                {% else %}
                <a href="{% url 'index' %}">
                    <h1>SPUMA</h1>
                </a>
                {% endif %}
            </div>
            {% if isLanding == True %}
            <div class="topbar-mid">
                <a href="#features">Features</a>
                <a href="#screenshots">Screenshots</a>
                <a href="#pricing">Pricing</a>
            </div>
            {% endif %}
            <div class="topbar-right">
                {% if loggedIn == True %}
                <div class="topbar-user-container">
                    <!--TODO: usar imagen del usuario-->
                    <div id="topbar-user-toggle">
                        <img src="{% static 'images/temp_user.png' %}" alt="user-icon">
                    </div>
                </div>
                <div class="topbar-user-dropdown" id="topbar-user-dropdown">
                    <div class="user-dropdown-head">
                        <img src="{% static 'images/temp_user.png' %}" alt="user-icon">
                        <h4>Daniel Lauzurica</h4>
                    </div>
                    <ul class="user-dropdown-options">
                        <li>
                            <a href="" class="user-dropdown-option">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                    fill="#000000">
                                    <path d="M0 0h24v24H0V0z" fill="none" />
                                    <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                </svg>
                                Settings
                            </a>
                        </li>
                        <li>
                            <a href="" class="user-dropdown-option">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                    fill="#000000">
                                    <path d="M0 0h24v24H0V0z" fill="none" />
                                    <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                </svg>
                                Plan
                            </a>
                        </li>
                        <li>
                            <a href="" class="user-dropdown-option">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                    fill="#000000">
                                    <path d="M0 0h24v24H0V0z" fill="none" />
                                    <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                </svg>
                                UwU
                            </a>
                        </li>
                    </ul>
                    <a href="" class="user-dropdown-logout">
                        Logout
                    </a>
                </div>
                {% else %}
                <div class="topbar-user-buttons">
                    <a href="{% url 'login' %}" class="btn-white signin-btn">Sign in</a>
                    <a href="{% url 'register' %}" class="btn-black signup-btn">Sign up</a>
                </div>
                {% endif %}
            </div>
            <div class="topbar-menu-container">
                <button id="topbar-menu-toggle">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                        fill="#f9fafb">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
                    </svg>
                </button>
            </div>
        </nav>

        <div class="topbar-menu-collapse">
            <div class="topbar-collapse-container">
                <div class="topbar-menu-links">
                    {% if isLanding == True %}
                    <ul class="topbar-menu-links">
                        <li><a href="#features" class="topbar-anchor">Features</a></li>
                        <li><a href="#screenshots" class="topbar-anchor">Screenshots</a></li>
                        <li><a href="#pricing" class="topbar-anchor">Pricing</a></li>
                    </ul>
                    {% else %}
                    <!--Botones de logged in-->
                    {% endif %}
                </div>
                <div class="topbar-menu-buttons">
                    <a href="{% url 'login' %}" class="btn-white topbar-login-button">Sign in</a>
                    <a href="{% url 'register' %}" class="btn-black">Sign up</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
    <footer>

    </footer>
</body>
<script src="{% static 'js/topbar.js' %}"></script>

</html>