{% extends "base.html" %}
{% load static %}
{% block content %}
<nav id="home-sidebar">
    <div class="home-sidebar-container">
        <div class="sidebar-plugin" id="sidebar-tasks-plugin">
            <div class="sidebar-plugin-header">
                <h2>Tasks</h2>
            </div>
            <div class="sidebar-plugin-body">
                <div class="stp-task-row stp-task-completed">
                    <div class="stp-task-checkbox"></div>
                    <div class="stp-task-text">
                        <div class="stp-text" id="stpt-1"></div>
                        <div class="stp-text" id="stpt-2"></div>
                        <div class="stp-text" id="stpt-3"></div>
                    </div>
                </div>
                <div class="stp-task-row">
                    <div class="stp-task-checkbox"></div>
                    <div class="stp-task-text">
                        <div class="stp-text" id="stpt-1"></div>
                        <div class="stp-text" id="stpt-3"></div>
                        <div class="stp-text" id="stpt-2"></div>
                    </div>
                </div>
                <div class="stp-task-row">
                    <div class="stp-task-checkbox"></div>
                    <div class="stp-task-text">
                        <div class="stp-text" id="stpt-2"></div>
                        <div class="stp-text" id="stpt-3"></div>
                        <div class="stp-text" id="stpt-1"></div>
                    </div>
                </div>
                <div class="stp-task-row stp-task-completed">
                    <div class="stp-task-checkbox"></div>
                    <div class="stp-task-text">
                        <div class="stp-text" id="stpt-1"></div>
                        <div class="stp-text" id="stpt-3"></div>
                        <div class="stp-text" id="stpt-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-plugin" id="sidebar-notes-plugin">
            <div class="sidebar-plugin-header">
                <h2>Notes</h2>
            </div>
            <div class="sidebar-plugin-body">
                <div class="snp-notes-container">
                    <div class="snp-note">
                        <div class="snp-note-head">
                            <div class="snp-note-title"></div>
                        </div>
                        <div class="snp-note-body">
                            <div class="snp-note-text" id="snpt-1"></div>
                            <div class="snp-note-text" id="snpt-2"></div>
                            <div class="snp-note-text" id="snpt-3"></div>
                        </div>
                    </div>
                    <div class="snp-note">
                        <div class="snp-note-head">
                            <div class="snp-note-title"></div>
                        </div>
                        <div class="snp-note-body">
                            <div class="snp-note-text" id="snpt-1"></div>
                            <div class="snp-note-text" id="snpt-3"></div>
                            <div class="snp-note-text" id="snpt-2"></div>
                            <div class="snp-note-text" id="snpt-1"></div>
                            <div class="snp-note-text" id="snpt-3"></div>
                            <div class="snp-note-text" id="snpt-1"></div>
                        </div>
                    </div>
                    <div class="snp-note">
                        <div class="snp-note-head">
                            <div class="snp-note-title"></div>
                        </div>
                        <div class="snp-note-body">
                            <div class="snp-note-text" id="snpt-1"></div>
                            <div class="snp-note-text" id="snpt-2"></div>
                            <div class="snp-note-text" id="snpt-1"></div>
                            <div class="snp-note-text" id="snpt-3"></div>
                            <div class="snp-note-text" id="snpt-2"></div>
                            <div class="snp-note-text" id="snpt-3"></div>
                        </div>
                    </div>
                    <div class="snp-note">
                        <div class="snp-note-head">
                            <div class="snp-note-title"></div>
                        </div>
                        <div class="snp-note-body">
                            <div class="snp-note-text" id="snpt-3"></div>
                            <div class="snp-note-text" id="snpt-2"></div>
                            <div class="snp-note-text" id="snpt-1"></div>
                            <div class="snp-note-text" id="snpt-3"></div>
                            <div class="snp-note-text" id="snpt-1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="dashboard-container">
    <div class="dashboard-plugin" id="tasks-plugin">
        <div class="dashboard-plugin-header">
            <h2>Tasks</h2>
        </div>
        <div class="dashboard-plugin-body"></div>
    </div>
    <div class="dashboard-plugin" id="notes-plugin">
        <div class="dashboard-plugin-header">
            <h2>Notes</h2>
        </div>
        <div class="dashboard-plugin-body"></div>
    </div>
</div>
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}