{% extends "base.html" %}
{% block content %}
<nav id="home-sidebar">
    <div class="home-sidebar-container">
        <div class="sidebar-plugin"></div>
        <div class="sidebar-plugin"></div>
        <div class="sidebar-plugin"></div>
        <div class="sidebar-plugin"></div>
        <div class="sidebar-plugin"></div>
        <div class="sidebar-plugin"></div>
        <div class="sidebar-plugin"></div>
        <div class="sidebar-plugin"></div>
        <div class="sidebar-plugin"></div>
        <div class="sidebar-plugin"></div>
        <div class="sidebar-plugin"></div>
        <div class="sidebar-plugin"></div>
        <div class="sidebar-plugin"></div>
        <div class="sidebar-plugin"></div>
    </div>
</nav>
<div class="dashboard-container">
    <div class="dashboard-plugin"></div>
    <div class="dashboard-plugin"></div>
    <div class="dashboard-plugin"></div>
    <div class="dashboard-plugin"></div>
    
    <div class="dashboard-plugin"></div>
    <div class="dashboard-plugin"></div>
    <div class="dashboard-plugin"></div>
    <div class="dashboard-plugin"></div>
    
    <div class="dashboard-plugin"></div>
    <div class="dashboard-plugin"></div>
    <div class="dashboard-plugin"></div>
    <div class="dashboard-plugin"></div>

    <div class="dashboard-plugin"></div>
    <div class="dashboard-plugin"></div>
    <div class="dashboard-plugin"></div>
    <div class="dashboard-plugin"></div>
    
    <div class="dashboard-plugin"></div>
    <div class="dashboard-plugin"></div>
    <div class="dashboard-plugin"></div>
    <div class="dashboard-plugin"></div>

</div>
{% endblock %}